[credential]
    helper = store
[core]
    editor = vim -u ~/.vim/minivimrc
    autocrlf = input
    # pager = diff-so-fancy | less --tabs=4 -RFX
    pager = delta
	quotepath = false
[interactive]
    diffFilter = delta --color-only
[delta]
    features = line-numbers decorations
    whitespace-error-style = 22 reverse
    syntax-theme = nord
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    minus-style = white "#7f0000"
    plus-style = white black
[pull]
    rebase = true
[alias]
    st = status -s
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ca = !git add -A && git commit -a -v
[merge]
    tool = diffconflicts
[mergetool "diffconflicts"]
    cmd = 'vim -c DiffConflicts "$MERGED" "$BASE" "$LOCAL" "$REMOTE"'
    trustExitCode = true
    keepBackup = false

[include]
    path = ~/.gitconfig.local

[diff-so-fancy]
    stripLeadingSymbols = false
